<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <script src="/static/js/htmx.min.js" defer></script>
    <!--
    <script src="/static/js/alpine.min.js" defer></script>
    -->

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.1.19/dist/trix.css">
    <link rel="stylesheet" href="/static/css/app.css">

    <title>Daylog</title>
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>