<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <script src="/static/js/htmx.min.js" defer></script>
    <script src="/static/js/alpine.min.js" defer></script>

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

    <title>Daylog</title>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 20px">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/img/journal-icon-s.png" alt="Bootstrap" width="30" height="24"
                 class="d-inline-block align-text-top">
            DayLog
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if authenticated %}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/new" class="btn btn-primary" role="button">write.</a>
                </li>
            </ul>

            <form class="d-flex mb-0" role="search">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ searchQuery }}">
            </form>
            <div class="d-flex">
                <a href="" class="btn btn-outline-dark" hx-post="/logout">logout</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>