<script type="text/javascript" src="https://unpkg.com/trix@2.1.13/dist/trix.umd.min.js"></script>

<script>
    (function() {
        var attachmentIds = {}

        addEventListener("trix-attachment-add", function(event) {
            if (event.attachment.file) {
                uploadFileAttachment(event.attachment)
            }
        })

        addEventListener("trix-attachment-remove", function(event) {
            attachmentId = event.attachment.getAttribute("attachmentId")
            delete attachmentIds[attachmentId]
            document.getElementById('attachmentIds').value = Object.keys(attachmentIds)
        })

        function uploadFileAttachment(attachment) {
            uploadFile(attachment.file, setProgress, setAttributes)

            function setProgress(progress) {
                attachment.setUploadProgress(progress)
            }

            function setAttributes(attributes) {
                attachment.setAttributes(attributes)
                attachmentIds[attributes.attachmentId] = attributes.fileHash
                document.getElementById('attachmentIds').value = Object.keys(attachmentIds)
            }
        }

        function uploadFile(file, progressCallback, successCallback) {
            var formData = createFormData(file)
            var xhr = new XMLHttpRequest()

            xhr.open("POST", "/upload", true)

            xhr.upload.addEventListener("progress", function(event) {
                var progress = event.loaded / event.total * 100
                progressCallback(progress)
            })

            xhr.addEventListener("load", function(event) {
                if (xhr.status == 200) {
                    const attributes = JSON.parse(xhr.response)
                    successCallback(attributes)
                }
            })

            xhr.send(formData)
        }

        function createFormData(file) {
            var data = new FormData()
            data.append("Content-Type", file.type)
            data.append("file", file)
            return data
        }
    })();
</script>

<input type="hidden" id="attachmentIds" name="attachmentIds">
<div class="row">
    <div class="col">
        <div class="mb-3">
            <label class="form-label" for="">Body</label>
            <input id="post-body" value="{{ post.Body }}" type="hidden" name="body">
            <trix-editor input="post-body" class="trix-content"></trix-editor>
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Title (optional)</label>
            <input class="form-control" name="title" value="{{ post.Title }}"/>
        </div>
    </div>
    <!--<div class="w-100 d-none d-md-block"></div>-->
    <div class="col-lg-4">
        <div class="mb-3">
            <label class="form-label" for="">Event Time</label>
            <input class="form-control" type="datetime-local" id="event-time" name="eventTime"
                   value="{{ post.EventTime.Format("2006-01-02T15:04") }}" required/>
        </div>
        <div id="geo-data" style="display: none;">
            <img src="" id="weather_icon" style="width: 48px"/> <span id="weather_deg">loading</span>
            <div>
                <p><strong>Geo Information</strong></p>
                <!--<input type="text" name="location"/>-->
                <p>Post location 🎯</p>
                <div id="map" style="width: 100%; height: 270px;"></div>
            </div>
        </div>
    </div>
</div>
