<div x-show="show">
    <div class="mb-3">
        <label class="form-label" for="">Event Time</label>
        <input class="form-control" type="datetime-local" id="event-time" name="event_time"
               value="{{ post.EventTime.Format("2006-01-02T15:04") }}" required/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="">Body</label>
        <textarea class="form-control" name="body" rows="12" required>{{ post.Body }}</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="">Title (optional)</label>
        <input class="form-control" name="title" value="{{ post.Title }}"/>
    </div>
</div>