{% extends "_layout.html" %}

{% block body %}
<main class="container">
    <h3>Edit Post</h3>
    <form action="/posts/{{ post.Id.String() }}/edit" method="POST">
        {% include "_post-form.html" %}

        <div class="row">
            <div class="col">
                <button class="btn btn-primary">update</button> or <a href="/">cancel</a>
            </div>
            <div style="text-align: right;" class="col">
                <button class="btn btn-outline-danger" hx-delete="/posts/{{ post.Id.String() }}" hx-params="none" hx-confirm="Delete this post?">Delete</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}