{% extends "_layout.html" %}

{% block body %}
<main class="container mt-4">
    <div class="grid mb-5">
    {% for ye in years %}
    <a href="?year={{ ye.Year }}"><span class="badge text-bg-{% ifequal ye.Year yearFilter %}secondary{% else %}light{% endifequal %}">{{ ye.Year }}</span></a>
    {% endfor %}
    </div>

    {% for post in posts %}
    <div class="card" style="margin: 0 0 1em 0;">
        {% if post.Title %}
        <div class="card-header" style="font-weight: bold;">
            {{ post.Title }}
        </div>
        {% endif %}
        <div class="card-body">
            {{ post.Body|safe }}
        </div>
        <div class="card-footer">
                <small>{{ post.EventTime.Format("2006-01-02, Monday") }} – <a href="/posts/{{ post.Id.String() }}/edit">edit</a></small>
        </div>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for p in pagination %}
            <li class="page-item"><a class="page-link {% if p.Ord == page %}active{% endif %}" href="?{{ p.Params }}">{{ p.Ord }}</a></li>
            {% endfor %}
        </ul>
    </nav>

</main>
{% endblock %}
