{% extends "templates/_layout.html" %}

{% block body %}
<main class="container">
    <a href="/new" class="button">write.</a>

    {% for post in posts %}
    <article>
        <div class="grid">
            <div>{% if post.Title %}<h2>{{ post.Title }}</h2>{% endif %}</div>
            <div style="text-align: right; color:lightgray;"><small>{{ post.EventTime.Format("2006-01-02") }}</small>
            </div>
        </div>

        {{ post.Body|markdown }}
        <div>
            <small><a href="/posts/{{ post.Id.String() }}/edit">edit</a></small>
        </div>
    </article>
    {% endfor %}

</main>
{% endblock %}
